/* Main container */
.quiz-container {
  max-width: 1200px; /* Center the content */
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0px;
}

/* Search input */
.search-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

/* Pagination controls */
.pagination-controls {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.pagination-controls label {
  margin-right: 15px;
  font-size: 1rem;
}

.pagination-input {
  padding: 5px;
  width: 60px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.apply-button {
  padding: 8px 15px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.apply-button:hover {
  background-color: #0056b3;
}

/* Question section */
.question {
  margin-bottom: 0px;
}

.question-title {
  font-size: 1.1rem;
  margin-top: 20px;
  margin-bottom: 3px;
  color: #333;
}

.options {
  display: flex;
  flex-direction: column;
}

.option-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.option-input {
  margin-right: 10px;
}

.option-title {
  font-size: 1rem;
  transition: color 0.3s ease;
}

.option-title:hover {
  cursor: pointer;
}

/* Pagination buttons */
.pagination-buttons {
  text-align: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
}

.pagination-button:disabled {
  background-color: #bbb;
}

.pagination-button:hover {
  background-color: #0056b3;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .quiz-container {
    width: 100%;
    padding: 0px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .pagination-controls {
    flex-direction: column;
    align-items: flex-start;
  }

  .pagination-controls label {
    margin-bottom: 10px;
  }

  .pagination-input {
    width: 50px;
  }
}
